body {
    background: url(images/background.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    margin: auto;
    position: relative;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.nav-link {
    font-size: 18px;
    color: aliceblue;
}

.content {
    position: absolute;
    width: 100%;
    margin: auto;
    min-height: calc(100vh - 50px);
}

.wrapper {
    width: 100%;
    background-color: aliceblue;
    position: relative;
    height: 15vh;
}

.logo{
    position: absolute;
    left: 0;
}

.product {
    position: absolute;
    right: 0;
}

.foot-image {
    width: 25%;
}