@font-face {
    font-family: "gotham";
    src: url("/fonts/Gotham-Light.otf");
}

@font-face {
    font-family: "cinzel";
    src: url("/fonts/Cinzel-Regular.ttf");
}

body {
    background: linear-gradient(to right, #003257, #00AEEF);
    height: 100vh;
    margin: auto;
    position: relative;
}

li {
    font-size: 40px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.full-width {
    width: 100%;
}

.banner {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 2.7vmax;
    font-family: gotham;
}

.main-content {
    background: url(images/background.jpg) no-repeat center center;
    background-size: 100%;
    padding-bottom: 50%;
    width: 100%;
    z-index: -1;
    position: relative;
}

.main-content-overlay {
    padding-bottom: 50%;
    width: 100%;
    z-index: 0;
    background-color: rgba(105, 105, 105, .5);
    position: absolute;
    top: 0px;
}

.text {
    z-index: 1;
    position: absolute;
    top: 1.8%;
    width: 100%;
}

.navbar-inverse {
    background-color: white;
}

.navbar-inverse ul {
    background-color: rgba(0, 0, 0, .6);
}

.nav-link {
    font-family: gotham;
    color: aliceblue;
    font-size: 3vmax;
}

.nav-logo {
    height: 50px;
}

.content {
    position: absolute;
    width: 100%;
    margin: auto;
}

.wrapper {
    width: 100%;
    position: absolute;
    top: 0px;
}

.foot-image {
    width: 50%;
}

.home-message {
    color: white;
    font-size: 2.5vmax;
    /*padding: 1px;*/
    font-family: gotham;
}

.bigger {
    font-size: 6.5vmax;
    font-family: cinzel;
}

.order-button {
    background-color: transparent;
    border-radius: 35px;
    font-size: 3vmax;
    color: white;
    border: solid 5px white;
    margin-top: 10%;
    font-family: gotham;
}