<div class="row-fluid">
    <div class="full-width">
        <div class="main-content">
            <div class="main-content-overlay">
                <div class="text text-center">
                    <div class="home-message">You can make those lines</div>
                    <div class="home-message bigger">DISAPPEAR</div>
                    <div class="home-message">For a week</div>
                    <button class="btn order-button">Order Now</button>
                </div>
            </div>
        </div>
    </div>
</div>